.bg {
  width: 100%;
  height: 3215px;
  background-image: url(../img/xfe-layer-2-4dd27885.png.webp);
  position: absolute;
  top: 60px;
  z-index: -1;
}

.jsTop {
  width: 100%;
  height: 60px;
  background-color: #1C2427;
  overflow: hidden;
}

.jsTop-left {
  float: left;
  overflow: hidden;
  margin-left: 72px;
}

.jsTop-left img {
  display: block;
  float: left;
}

.jsTop-left img:nth-child(1) {
  margin-top: 10px;
}

.jsTop-left img:nth-child(2) {
  margin-top: 17px;
  margin-left: 10px;
}

.jsTop-right {
  margin-left: 875px;
  overflow: hidden;
  height: 60px;
}

.jsTop-right li {
  float: left;
  margin-left: 28px;
}

.jsTop-right li:first-child {
  margin-left: 0px;
}

.jsTop-right li:nth-child(5) a, .jsTop-right li:nth-child(6) a {
  color: #66696B;
}

.jsTop-right li:nth-child(5) a:hover, .jsTop-right li:nth-child(6) a:hover {
  color: #949596;
}

.jsTop-right a {
  font-size: 14px;
  line-height: 60px;
  color: #949596;
}

.nav-left {
  margin-left: 50px;
  margin-top: 50px;
  float: left;
}

.nav-right {
  float: right;
}

.nav-right ul {
  overflow: hidden;
}

.nav-right ul li {
  width: 107px;
  height: 290px;
  float: left;
  cursor: pointer;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-right ul li:before, .nav-right ul li:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-right ul li:after {
  background-image: url(../img/11.753a21ba.png);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: none;
}

.nav-right ul li:nth-child(1):before {
  background-image: url(../img/xfe-layer-4-8ee66cbc.png.webp);
}

.nav-right ul li:nth-child(1):after {
  background-image: url(../img/xfe-layer-4-1-d92f8667.png.webp);
}

.nav-right ul li:nth-child(2):before {
  background-image: url(../img/xfe-layer-5-d11f81c0.png.webp);
}

.nav-right ul li:nth-child(2):after {
  background-image: url(../img/xfe-layer-5-1-c303ce82.png.webp);
}

.nav-right ul li:nth-child(3):before {
  background-image: url(../img/xfe-layer-11-383d861d.png.webp);
}

.nav-right ul li:nth-child(3):after {
  background-image: url(../img/xfe-layer-11-1-fec7ae1c.png.webp);
}

.nav-right ul li:nth-child(4):before {
  background-image: url(../img/xfe-layer-9-3ef0aeab.png.webp);
}

.nav-right ul li:nth-child(4):after {
  background-image: url(../img/xfe-layer-9-1-fa2be5c4.png.webp);
}

.nav-right ul li:nth-child(5):before {
  background-image: url(../img/xfe-layer-6-365891b1.png.webp);
}

.nav-right ul li:nth-child(5):after {
  background-image: url(../img/xfe-layer-6-1-377f4e43.png.webp);
}

.nav-right ul li:nth-child(6):before {
  background-image: url(../img/xfe-layer-7-2ed23526.png.webp);
}

.nav-right ul li:nth-child(6):after {
  background-image: url(../img/xfe-layer-7-1-f5e470be.png.webp);
}

.nav-right ul li:nth-child(7):before {
  background-image: url(../img/xfe-layer-8-4862327f.png.webp);
}

.nav-right ul li:nth-child(7):after {
  background-image: url(../img/xfe-layer-8-1-b425ad92.png.webp);
}

.nav-right ul li:nth-child(8):before {
  background-image: url(../img/xfe-layer-43-5b04c5e8.png.webp);
}

.nav-right ul li:nth-child(8):after {
  background-image: url(../img/xfe-layer-43-1-a1825ad6.png.webp);
}

.nav-right ul li:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.nav-right ul li:hover:after {
  display: block;
}

.nav-right ul li:hover:before {
  display: none;
}

main {
  position: relative;
}

main .main-top {
  margin-top: 580px;
}

.bg2 {
  width: 1339px;
  height: 174px;
  background-image: url(../img/xfe-layer-29-346e6a39.png.webp);
  position: absolute;
  top: 250px;
  left: 22px;
}

.bg2 .text-bg {
  width: 1183px;
  height: 103px;
  background-image: url(../img/xfe-layer-30-3ce39767.png.webp);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 110px;
}

.jb {
  margin-top: 300px;
}

.jb .jb-top {
  margin-left: 20px;
}

.jb .jb-bottom-left {
  width: 588px;
  height: 455px;
  background-image: url(../img/xfe-layer-25-8568b433.png.webp);
  float: left;
}

.jb .jb-bottom-left img {
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.jb .jb-bottom-right div {
  float: left;
  margin-left: 25px;
  margin-bottom: 20px;
}

.hz {
  margin-top: 155px;
}

.hz .hz-top {
  margin-left: 20px;
}

.hz .hz-bottom {
  position: relative;
  margin-top: 40px;
}

.hz .hz-bottom div {
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hz .hz-bottom div:nth-child(1) {
  top: 0;
  left: 0;
}

.hz .hz-bottom div:nth-child(1):hover {
  top: -20px;
}

.hz .hz-bottom div:nth-child(2) {
  top: 0;
  left: 515px;
}

.hz .hz-bottom div:nth-child(2):hover {
  top: -20px;
}

.hz .hz-bottom div:nth-child(3) {
  top: 0;
  left: 1030px;
}

.hz .hz-bottom div:nth-child(3):hover {
  top: -20px;
}

.hz .hz-bottom div:nth-child(4) {
  top: 200px;
  left: 260px;
}

.hz .hz-bottom div:nth-child(4):hover {
  top: 180px;
}

.hz .hz-bottom div:nth-child(5) {
  top: 200px;
  left: 770px;
}

.hz .hz-bottom div:nth-child(5):hover {
  top: 180px;
}

.pp {
  margin-top: 450px;
}

.pp .pp-bottom {
  margin-top: 50px;
}

.pp .pp-bottom img {
  margin-left: 50px;
}

.pp .pp-bottom img:nth-child(1) {
  margin-left: 250px;
}

.pp .pp-bottom img:nth-child(2) {
  margin-left: 200px;
}

.tg {
  margin-top: 45px;
}

.bottom {
  width: 100%;
  margin-top: 16px;
  height: 185px;
  background-color: #222;
  color: #555;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 0;
  padding-left: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 500px;
}

.bottom img {
  float: left;
}

.bottom ul {
  overflow: hidden;
  margin-bottom: 10px;
}

.bottom ul li {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  position: relative;
}

.bottom ul li:before {
  content: '';
  width: 1px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: -5px;
  background-color: #555;
}

.bottom ul li:last-child:before {
  width: 0px;
}

.bottom a {
  color: #555;
}

.bottom span {
  color: red;
}

.video {
  position: absolute;
  height: 100%;
  top: 1360px;
  left: 330px;
  display: none;
}

.video video {
  width: 1200px;
}

.video .close {
  top: 0;
  left: 1207px;
  position: absolute;
  cursor: pointer;
}

.color {
  width: 100%;
  height: 3216px;
  display: none;
}
/*# sourceMappingURL=remen.css.map */