@charset "UTF-8";
.first-screen {
  background-image: url(../img/homepage.992f3f6e.jpg);
}

.jx-logo {
  width: 225px;
  height: 110px;
  position: fixed;
  top: 50px;
  left: 50px;
}

.fixed-right {
  position: fixed;
  top: 50px;
  right: 50px;
}

.fixed-right li {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 23px;
}

.fixed-right li:nth-child(1) {
  background-image: url(../img/audio_pause.733099db.png);
}

.xz {
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.nav {
  width: 1280px;
  height: 111px;
  overflow: hidden;
  background-image: url(../img/bg-line.2524e474.png);
  background-repeat: no-repeat;
  position: fixed;
  bottom: 170px;
  left: 290px;
  padding-left: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: 35px 52px;
}

.nav li {
  width: 111px;
  height: 111px;
  float: left;
  margin-right: 77px;
}

.nav img {
  margin-top: 45px;
  margin-left: 35px;
  cursor: pointer;
}

.nav-bg {
  display: block;
  width: 111px;
  height: 111px;
  background-image: url(../img/home-pagination.5cc1b1d8.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  top: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-bg:hover {
  z-index: -1;
  background-image: url(../img/home-pagination-checked.d5033a7b.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-bg1 {
  background-image: url(../img/home-pagination-checked.d5033a7b.png);
  z-index: -1;
}

.gd {
  position: absolute;
  left: 820px;
  bottom: 68px;
  overflow: hidden;
}

.gd img {
  margin-bottom: 20px;
}

.gd p {
  font-size: 25px;
  font-family: '楷体';
  color: #fff;
  text-align: center;
  -webkit-animation: fontMove 2s linear infinite;
          animation: fontMove 2s linear infinite;
}

@-webkit-keyframes fontMove {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fontMove {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

.second {
  background-image: url(../img/role-big-bg-1.226e5f0a.jpg);
  overflow: hidden;
  background-color: #214462;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gf-logo {
  width: 1186px;
  height: 84px;
  padding-top: 45px;
  margin-left: 350px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gf-logo p {
  font-size: 20px;
  color: #c0a575;
  position: absolute;
  bottom: -50px;
  left: 463px;
}

.gf-logo img {
  position: absolute;
}

.third-logo {
  width: 1186px;
  height: 84px;
  padding-top: 10px;
  margin-left: 330px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.third-logo p {
  font-size: 20px;
  color: #c0a575;
  position: absolute;
  bottom: -20px;
  left: 463px;
}

.gf-bottom {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 750px;
}

.gf-bottom li {
  position: relative;
  margin-top: 75px;
  width: 445px;
  height: 510px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  float: left;
  cursor: pointer;
  margin-top: 70px;
  height: 0;
  width: 0;
  overflow: hidden;
  margin-top: 160px;
}

.gf-bottom li:nth-child(1) {
  background-image: url(../img/video-1-bg.44ffa741.jpg);
  background-repeat: no-repeat;
  background-position: 86px 54px;
  margin-left: 240px;
}

.gf-bottom li:nth-child(2) {
  background-image: url(../img/video-3-bg.2d77f92c.jpg);
  background-repeat: no-repeat;
  background-position: 86px 54px;
}

.gf-bottom li:nth-child(2) img {
  margin-top: 26px;
  margin-left: 80px;
}

.gf-bottom li:nth-child(2) p {
  margin-left: 165px;
}

.gf-bottom li:nth-child(3) {
  background-image: url(../img/video-2-bg.1ebc0353.jpg);
  background-repeat: no-repeat;
  background-position: 86px 54px;
}

.gf-bottom li:nth-child(3) img {
  margin-top: 23px;
  margin-left: 52px;
}

.gf-bottom li:nth-child(3) p {
  margin-left: 175px;
}

.gf-bottom li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gf-bottom li i {
  width: 19px;
  height: 29px;
  position: absolute;
  left: 250px;
  background-image: url(../img/video-play-triangle.e9c4b933.png);
  bottom: 160px;
  z-index: 10;
  cursor: pointer;
}

.gf-bottom li span {
  width: 85px;
  height: 88px;
  background-image: url(../img/video-play-circle.1b9be30f.png);
  position: absolute;
  bottom: 130px;
  left: 215px;
  cursor: pointer;
}

.gf-bottom li p {
  font-size: 25px;
  color: #c0a575;
  /* text-align: center; */
  margin-top: 20px;
  margin-left: 115px;
}

.fifth-video-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.renwu-video, .cs-video, .gs-video {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: none;
  width: 1920px;
  height: 2000px;
  background-color: rgba(99, 99, 99, 0.5);
}

.renwu-video video, .cs-video video, .gs-video video {
  height: 600px;
  top: 200px;
  left: 400px;
  position: absolute;
}

.renwu-video .close, .cs-video .close, .gs-video .close {
  top: 205px;
  left: 1477px;
  z-index: 20;
  cursor: pointer;
  position: absolute;
}

.third {
  background-image: url(../img/lingxuege.f9b5acbb.jpg);
}

.third-logo {
  left: 30px;
}

.third-bottom {
  width: 1297px;
  height: 560px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 80px;
  margin-left: 300px;
  overflow: hidden;
  position: relative;
}

.third-bottom ul {
  width: calc(175px*16);
  margin-top: 25px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 560px;
  position: absolute;
}

.third-bottom li {
  position: relative;
  float: left;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  margin-top: 30px;
}

.third-bottom li:nth-child(1) {
  margin-left: 10px;
}

.third-bottom li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-top: 1px solid #655A3B;
  border-left: 1px solid #655A3B;
  border-right: 1px solid #655A3B;
  -o-border-image: linear-gradient(#c0a575, transparent) 30 30;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#c0a575), to(transparent)) 30 30;
     border-image: linear-gradient(#c0a575, transparent) 30 30;
}

.third-bottom li:nth-child(2) i {
  background-image: url(../img/penglai.d42d3772.png);
}

.third-bottom li:nth-child(3) i {
  background-image: url(../img/badao.c8a1e919.png);
}

.third-bottom li:nth-child(4) i {
  background-image: url(../img/changge.23fbba50.png);
}

.third-bottom li:nth-child(5) i {
  background-image: url(../img/cangyun.4671efe2.png);
}

.third-bottom li:nth-child(6) i {
  background-image: url(../img/gaibang.b0bd0473.png);
}

.third-bottom li:nth-child(7) i {
  background-image: url(../img/mingjiao.4c01b116.png);
}

.third-bottom li:nth-child(8) i {
  background-image: url(../img/tangmen.29d6c3ba.png);
}

.third-bottom li:nth-child(9) i {
  background-image: url(../img/wudu.ef167741.png);
}

.third-bottom li:nth-child(10) i {
  background-image: url(../img/cangjian.683193c5.png);
}

.third-bottom li:nth-child(11) i {
  background-image: url(../img/tiance.b35177ed.png);
}

.third-bottom li:nth-child(12) i {
  background-image: url(../img/chunyang.8edc9373.png);
}

.third-bottom li:nth-child(13) i {
  background-image: url(../img/shaolin.00df782c.png);
}

.third-bottom li:nth-child(14) i {
  background-image: url(../img/qixiu.67927e76.png);
}

.third-bottom li:nth-child(15) i {
  background-image: url(../img/wanhua.5bb90dbc.png);
}

.third-bottom i {
  display: block;
  width: 84px;
  height: 85px;
  background-image: url(../img/lingxuege.183ebeb4.png);
  position: absolute;
  bottom: 35px;
  left: 30px;
}

.third-bottom span {
  display: block;
  width: 84px;
  height: 85px;
  background-image: url(../img/school.2ba811ec.png);
  position: absolute;
  bottom: 35px;
  left: 30px;
  cursor: pointer;
}

.third-bottom span:hover {
  background-image: url(../img/school-active.87746fc4.png);
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.third-left, .third-right {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.third-left {
  top: 265px;
  left: 10px;
}

.third-right {
  /* right: 1px; */
  top: 265px;
  right: 5px;
}

.fouth {
  background-image: url(../img/role-1.6f318399.jpg);
}

.fouth .fouth-top {
  width: 1186px;
  height: 84px;
  padding-top: 10px;
  margin-left: 380px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fouth .fouth-top p {
  font-size: 20px;
  color: #c0a575;
  position: absolute;
  bottom: -20px;
  left: 463px;
}

.fouth-bottom {
  width: 1297px;
  height: 560px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 80px;
  margin-left: 300px;
  overflow: hidden;
  position: relative;
}

.fouth-bottom ul {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.fouth-bottom li {
  float: left;
  margin-right: 80px;
  cursor: pointer;
  position: relative;
  bottom: -50px;
  left: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.fouth-bottom li:last-child {
  margin-right: 0px;
}

.fouth-bottom li i {
  position: absolute;
  width: 89px;
  height: 36px;
  bottom: 0;
  left: 60px;
}

.fouth-bottom li:hover {
  bottom: -30px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  -o-border-image: linear-gradient(#c0a575, transparent) 30 30;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#c0a575), to(transparent)) 30 30;
     border-image: linear-gradient(#c0a575, transparent) 30 30;
  border-bottom: 1px solid transparent;
}

.fouth-bottom li:nth-child(1) i {
  background-image: url(../img/icon-1.64d01263.png);
}

.fouth-bottom li:nth-child(2) i {
  background-image: url(../img/icon-2.7e4272b8.png);
}

.fouth-bottom li:nth-child(3) i {
  background-image: url(../img/icon-3.9722e51f.png);
}

.fouth-bottom li:nth-child(4) i {
  background-image: url(../img/icon-4.d9d71e10.png);
}

.luoli, .chengnv, .chengnan, .zhengtai {
  position: absolute;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
}

.luoli img, .chengnv img, .chengnan img, .zhengtai img {
  top: 155px;
  left: 328px;
  position: absolute;
}

.luoli i, .chengnv i, .chengnan i, .zhengtai i {
  width: 44px;
  height: 43px;
  position: absolute;
  background-image: url(../img/close.png);
  top: 155px;
  /* right: -12px; */
  cursor: pointer;
  left: 1527px;
}

.fouth-right-top {
  width: 1186px;
  height: 84px;
  padding-top: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 400px;
}

.fouth-right-top p {
  font-size: 20px;
  color: #c0a575;
  position: absolute;
  bottom: -20px;
  left: 463px;
}

.fouth-right-bottom {
  width: 1297px;
  height: 560px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 80px;
  margin-left: 300px;
  overflow: hidden;
  position: relative;
}

.fouth-right-bottom ul {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.fouth-right-bottom li {
  float: left;
  margin-right: 80px;
  cursor: pointer;
  position: relative;
  bottom: -50px;
  left: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
  border: 1px solid #c0a575;
}

.fouth-right-bottom li img {
  display: block;
}

.fouth-right-bottom li i {
  position: absolute;
  top: 150px;
  left: 268px;
  z-index: 10;
}

.fouth-right-bottom li span {
  position: absolute;
  top: 122px;
  left: 232px;
}

.fifth-logo {
  width: 1186px;
  height: 84px;
  margin-left: 330px;
  /* position: relative; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 100%; */
  /* height: 100%; */
  position: absolute;
  top: 200px;
  left: 30px;
}

.fifth-logo p {
  font-size: 20px;
  color: #c0a575;
  position: absolute;
  /* bottom: -20px; */
  left: 463px;
  top: 70px;
}

.fifth-second {
  position: relative;
  overflow: hidden;
}

#seciton3 {
  overflow: hidden;
}

.start {
  width: 116px;
  height: 119px;
  background-repeat: no-repeat;
  background-image: url(../img/video-center.97369919.png);
  margin-left: 528px;
  margin-top: 170px;
  cursor: pointer;
}

.start-img {
  position: absolute;
  top: 296px;
  left: 578px;
  cursor: pointer;
}

.fifth-video-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.fifth-video {
  position: absolute;
  z-index: 30;
  overflow: hidden;
  background-color: rgba(99, 99, 99, 0.5);
  /* padding-top: 214px; */
  display: none;
  width: 1920px;
  height: 2000px;
  top: 0;
  left: 0;
}

.fifth-video .qg-close {
  position: fixed;
  cursor: pointer;
  top: 1160px;
  right: 370px;
}

.fifth-video video {
  height: 600px;
  z-index: 20;
  top: 790px;
  position: fixed;
  top: 4075px;
  left: 415px;
}

.fifth-video .fifth-close {
  position: fixed;
  cursor: pointer;
  top: 4075px;
  right: 370px;
}

.sixth {
  background-image: url(../img/bg-1.ada317e3.jpg);
}

.sixth-top {
  width: 1186px;
  height: 84px;
  padding-top: 10px;
  margin-left: 380px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sixth-top p {
  font-size: 20px;
  color: #c0a575;
  position: absolute;
  bottom: -20px;
  left: 463px;
}

.sixth-bottom {
  width: 1297px;
  height: 560px;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 80px;
  margin-left: 300px;
  overflow: hidden;
  position: relative;
}

.sixth-bottom ul {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.sixth-bottom li {
  float: left;
  margin-right: 80px;
  cursor: pointer;
  position: relative;
  bottom: -50px;
  left: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid transparent;
}

.sixth-bottom li:last-child {
  margin-right: 0px;
}

.sixth-bottom li i {
  position: absolute;
  width: 84px;
  height: 85px;
  bottom: 0;
  left: 80px;
  background-image: url(../img/btn-active.1fb29673.png);
}

.sixth-bottom li span {
  font-size: 25px;
  position: absolute;
  color: #c0a575;
  bottom: 28px;
  left: 96px;
}

.sixth-bottom li p {
  position: absolute;
  bottom: -60px;
  left: 0;
  font-size: 16px;
  color: #c0a575;
  text-align: center;
  width: 250px;
}

.sixth-bottom li:hover {
  bottom: -30px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  -o-border-image: linear-gradient(#c0a575, transparent) 30 30;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#c0a575), to(transparent)) 30 30;
     border-image: linear-gradient(#c0a575, transparent) 30 30;
  border-bottom: 1px solid transparent;
}

.seventh {
  background-image: url(../img/bg-bangpai.561e67ce.jpg);
}

.seventh ul {
  float: right;
  margin-right: 80px;
}

.seventh li {
  margin-top: 20px;
  cursor: pointer;
}

.seventh img {
  display: block;
}

.active-seventh {
  border: 1px solid #c0a575;
}

.seventh-right {
  width: 100%;
  height: 100%;
  background-image: url(../img/method-bg.5da5a69f.jpg);
  overflow: hidden;
}

.seventh-right p {
  font-size: 50px;
  width: 2px;
  position: absolute;
}

.seventh-right div {
  overflow: hidden;
  float: left;
}

.seventh-right h6 {
  width: 50px;
  font-size: 50px;
  color: #c0a575;
  float: left;
  margin-top: 200px;
  margin-left: 450px;
}

.seventh-center {
  float: left;
  width: 1200px;
  overflow: hidden;
  float: left;
  margin-top: 200px;
  margin-left: 30px;
}

.seventh-center i {
  position: absolute;
  width: 100%;
  height: 54px;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(33, 33, 33, 0.5);
}

.seventh-center div {
  margin-left: 20px;
  width: 268px;
  height: 246px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.seventh-center div img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.seventh-center div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seventh-center div:nth-child(1) {
  width: 560px;
  height: 518px;
}

.seventh-center div:nth-child(1) img {
  width: 100%;
}

.seventh-center div:nth-child(1) i {
  background-image: url(../img/icon-cosplay.6d47dea9.png);
}

.seventh-center div:nth-child(2) i {
  background-image: url(../img/icon-cartoon.cd0714e2.png);
}

.seventh-center div:nth-child(3) i {
  background-image: url(../img/icon-video.784f4fb4.png);
}

.seventh-center div:nth-child(4) {
  margin-top: 20px;
}

.seventh-center div:nth-child(4) i {
  background-image: url(../img/icon-music.5146b36d.png);
}

.seventh-center div:nth-child(5) {
  margin-top: 20px;
}

.seventh-center div:nth-child(5) i {
  background-image: url(../img/icon-handmade.44daf97e.png);
}

.eighth {
  background-image: url(../img/bg.f7cea12b.jpg);
}

.eighth p {
  text-indent: 40px;
  margin-top: 80px;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #c0a575;
  width: 1186px;
  margin-left: 323px;
}

.eight-top {
  height: 100%;
}

.eight-top a {
  display: block;
  width: 215px;
  height: 61px;
  background-image: url(../img/btn.a649a474.png);
  float: left;
  text-align: center;
  /* line-height: 215px; */
  /* color: #c0a575; */
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
  margin-top: 80px;
  color: #fff;
  cursor: pointer;
}

.eight-top-title {
  margin-left: 260px;
  margin-top: 200px;
}

.jrgw {
  margin-left: 700px;
  margin-right: 30px;
}

.ewm {
  overflow: hidden;
  margin-top: 300px;
  margin-left: 450px;
}

.ewm li {
  float: left;
  margin-right: 100px;
  position: relative;
}

.ewm li:nth-child(1) i {
  background-image: url(../img/code.df8bbbf0.png);
}

.ewm li:nth-child(2) i {
  background-image: url(../img/code.bf3fde3a.png);
}

.ewm li:nth-child(3) i {
  background-image: url(../img/code.75593837.png);
}

.ewm i {
  width: 159px;
  height: 159px;
  position: absolute;
  top: 8px;
  left: 122px;
  z-index: 20;
}

#fp-nav {
  width: 77px;
  height: 616px;
  position: fixed;
  top: 209px;
  left: 50px;
  display: none;
}

#fp-nav li {
  display: block;
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../img/swiper-nav.331b386f.png);
}

#fp-nav li:nth-child(1) a {
  background-image: url(../img/navtext-1.92d88cbb.png);
}

#fp-nav li:nth-child(2) a {
  background-image: url(../img/navtext-2.3d129b1f.png);
}

#fp-nav li:nth-child(3) a {
  background-image: url(../img/navtext-3.34562358.png);
}

#fp-nav li:nth-child(4) a {
  background-image: url(../img/navtext-4.04977087.png);
}

#fp-nav li:nth-child(5) a {
  background-image: url(../img/navtext-5.96b00501.png);
}

#fp-nav li:nth-child(6) a {
  background-image: url(../img/navtext-6.9c926f25.png);
}

#fp-nav li:nth-child(7) a {
  background-image: url(../img/navtext-7.874f0cb0.png);
}

#fp-nav li:nth-child(8) a {
  background-image: url(../img/navtext-8.bf03b1be.png);
}

#fp-nav li:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: -3px;
  left: 35px;
  border: 1px solid #c0a575;
  border-radius: 50%;
}

#fp-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.gx-video, .nie-video {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.gx-video video, .nie-video video {
  height: 600px;
  position: absolute;
  top: 200px;
  left: 400px;
}

.gx-video .gx-close, .nie-video .gx-close {
  /* top: -40px; */
  position: absolute;
  /* right: -53px; */
  top: 200px;
  right: 401px;
  cursor: pointer;
}
/*# sourceMappingURL=sj.css.map */